article.how-work.how-work-course
  - let howWork = currentPageData.HowWorkPage;
  +containerX()
    +blockTitle('Как проходит синхронизация')
  .content
    .items
      +containerX()
        .grid-x.small-up-1.medium-up-4.large-up-4.text-center
          .cell
            .content
              .title
                h3
                  .icon.many
                  if howWork && howWork.titleFirstBlock
                    | !{howWork.titleFirstBlock}
                  else
                    |Стоимость
              .text
                p
                  if howWork && howWork.textFirstBlock
                    |!{howWork.textFirstBlock}
                  else
                    |Абонемент на
                    br
                    |5 лекций&nbsp;
                    strong 3500 руб.
                    br
                    |Стоимость одной&nbsp;
                    br
                    |лекции&nbsp;
                    strong 900 руб. 
                  
          .cell
            .content
              .title
                h3
                  .icon.time
                  if howWork && howWork.titleSecondBlock
                    |!{howWork.titleSecondBlock}
                  else
                    |Формат
              .text
                p
                  if howWork && howWork.textSecondBlock
                    |!{howWork.textSecondBlock}
                  else
                    |Каждая наша лекция идет
                    br
                    |в среднем 
                    strong 2 часа
                    |, в группе
                    br
                    |не более&nbsp;
                    strong 30 человек
                  
          .cell
            .content
              .title
                h3 
                  .icon.umbrella
                  if howWork && howWork.titleThreeBlock
                    |!{howWork.titleThreeBlock}
                  else
                    |Страховка
              .text
                p
                  if howWork && howWork.textFourBlock
                    |!{howWork.textThreeBlock}
                  else
                    |Пропустили лекцию?
                    br
                    |Просто&nbsp;
                    strong запишитесь 
                      br
                      |на другую!
                  
          .cell
            .content
              .title
                h3 
                  .icon.book
                  if howWork && howWork.titleFourBlock
                    |!{howWork.titleFourBlock}
                  else
                    |Бонус
              .text
                p
                  if howWork && howWork.textFourBlock
                    |!{howWork.textFourBlock}
                  else
                    |Мы&nbsp;
                    strong присылаем презентацию
                    br
                    |&nbsp;и материалы для самостоятельного
                    br
                    |&nbsp;изучения темы
