article.recomendation.recomendation-lecture
  if currentPageData.recomendation && currentPageData.recomendation.length > 0
    +containerX()
      +blockTitle('Что Вам еще может быть интересно', false, '', 'less')
    .content
      .items
        each lecture in currentPageData.recomendation
          +lecturesItem(lecture, '', true)
