article.schedule
  +containerX()
    +blockTitle(currentPageData && currentPageData.scheduleTitle ? currentPageData.scheduleTitle.replace(/\n/g, '<br>') : 'Расписание на эту неделю')
  .content
    if currentPageData && currentPageData.groupSheduleOfDate
      .items
        each event in currentPageData.groupSheduleOfDate
          +scheduleList(event)
      .description.text-center
        a(href='schedule').button.button-abstract.long
          |Посмотреть расписание
      .abstract.abstract-1
        img(src='/assets/img/abstract1.png')
      .abstract.abstract-2
        img(src='/assets/img/abstract2.png')
      .abstract.abstract-3
        img(src='/assets/img/abstract3.png')
      .abstract.abstract-4
        img(src='/assets/img/abstract4.png')
      
