article.gallery
  +containerX()
    +blockTitle(currentPageData && currentPageData.galleryTitle && currentPageData.galleryTitle ? currentPageData.galleryTitle.replace(/\n/g, '<br>') : 'Фотографии с мероприятий')
  .content
    .items
      .swiper-container.gallery-container
          .swiper-wrapper.gallery-lightbox.position-rel
              each item in currentPageData.mainGallery
                a.swiper-slide.popup-gallery(href=`${IMAGE_HOST}/${item.secret}`, rel='gallery', title=item.description)
                  .image(style={"background-image": `url('${IMAGE_HOST}/${item.secret}')`})
          .nav-slider.nav-slider-next
          .nav-slider.nav-slider-prev
