mixin buttonBuy(title, anchor)
  a(href=anchor || 'order.html')&attributes(attributes)
    .button.button-buy= title

mixin buttonBuySubmit(title)
  button.button.button-buy= title

mixin buttonGift(title)
  .button.button-gift&attributes(attributes)= title
  
mixin buttonBuySimple(title)
  .button.button-buy&attributes(attributes)= title

mixin buttonMore(title)
  .button.button-more&attributes(attributes)= title

mixin buttonShowMore(title)
  .button-show-more&attributes(attributes)= title
mixin buttonLink(title, link)
  a(href=link)&attributes(attributes)
    .button.button-more= title
