mixin calendar()
  .simple-calendar-ml
    .week-wrap
      .text-center
        .month-nav
          .nav-calendar.prev
          .month
          .nav-calendar.next

      ul.clearfix.day-week
          - const day = ['Пн','Вт','Ср', 'Чт', 'Пт', 'Сб', 'Вс'];
          each val in day
              li= val

      ul.date-wrap.clearfix
