mixin formatDateShort(date)
  span= moment(date).format('D MMMM')

mixin formatDateShortM(date)
  span= moment(date).format('D MMM')
    
mixin formatDate(date)
  span= moment(date).format('D MMMM YYYY')

mixin formatDateDay(date)
  span= moment(date).format('dddd')

mixin formatDateTime(date)
  span&attributes(attributes)(attributes)= moment(date).format('HH:mm')

mixin startEndDate(start, end)
  .date
    +formatDateShort(start)
    |&nbsp;-&nbsp; 
    +formatDateShort(end)
