mixin lecturesItem(lecture, cls, expanded, archive)
  .lectures-item.item(class=cls)
    +containerFullX()
      +cell4Off1()
        .image
          a(href=lecture.link)
            img(src=lecture.image, alt=lecture.title)
      +cell10()
        .grid-y
          .cell.lh-1
            +tag(lecture.tag[0])
            if (archive)
              .other-date
                a(href="lecture-end.html")= 'хотите узнать о новом расписании? >>'
            else
              +startEndDate(lecture.date[0], lecture.date[lecture.date.length - 0])
              if (expanded)
                - let datesLength = lecture.date.length;
                if (datesLength > 2)
                  +separator()
                  .other-date
                    a(href='lecture.html')= 'другие даты >>'
                
          .cell
            .line
            +itemTitle(lecture.title, '', 'lecture.html')
            +anons(lecture.anons, lecture.link)

mixin lecturesListContainer()
  .lectures-container
    .lectures-list
      block
              
mixin lecturesList(lectures, n)
  .lectures-container
    .lectures-list
      each lecture, index in lectures
        if (index < n)
          if (index === n - 1)
            +lecturesItem(lecture, 'last')
          else
            +lecturesItem(lecture)
        else
          +lecturesItem(lecture, 'hidden')
          
    - let lecturesLength = lectures.length;
    if (lecturesLength > n)
      .text-center
        .more-lectures Другие лекци этого лектора

mixin lectureItemCourse(lecture, index, cls)
  if (index > 2)
    if (!cls)
      - cls = '';
    - cls += 'hidden';
      
  .lectures-item.item(class=cls)
    +containerFullX()
      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 show-for-small-only')    
        .title
          h3= lecture.title
          .line          
        .image
          img(src=lecture.imageForCourse, alt=lecture.title)
        .lecturer
          .title
            span
              if (lecture.lecturers.length === 1)
                | лектор:
              else
                | лекторы:
                
          each lecturer in lecture.lecturers
            .value= `${lecturer.firstName} ${lecturer.lastName}`
            
      +cellOffset(10, 1)(class='medium-offset-1 medium-10 small-offset-1 small-14')
        .hide-for-small-only
          .title
            h3= lecture.title
            .line
        .description
          p= lecture.descriptionForCourse
          
        .themes
          h4 На лекции мы найдем ответ на этот вопрос, а также узнаем:
          ul
            each theme in lecture.themes
              li
                p
                  span •&nbsp;
                  |#{theme}
                  
             
      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 hide-for-small-only')
        .image
          img(src=lecture.imageForCourse, alt=lecture.title)
        .lecturer
          .title
            span
              if (lecture.lecturers.length === 1)
                | лектор:
              else
                | лекторы:
                
          each lecturer in lecture.lecturers
            .value= `${lecturer.firstName} ${lecturer.lastName}`

mixin lectureItemCycle(lecture, index, cls)
  if (index > 2)
    if (!cls)
      - cls = '';
    - cls += 'hidden';
      
  .lectures-item.item(class=cls)
    +containerFullX()
      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 show-for-small-only')    
        .title
          h3= lecture.title
          .line          
        .image
          img(src=lecture.imageForCourse, alt=lecture.title)
        .lecturer
          .title
            span
              if (lecture.lecturers.length === 1)
                | лектор:
              else
                | лекторы:
                
          each lecturer in lecture.lecturers
            .value= `${lecturer.firstName} ${lecturer.lastName}`
            
      +cellOffset(10, 1)(class='medium-offset-1 medium-10 small-offset-1 small-14')
        .hide-for-small-only
          .title
            h3= lecture.title
            .line
        .description
          p= lecture.descriptionForCourse || lecture.descriptionForCycle
        .description-more
          +containerFullClearX()
            +cell(8)
              .text-left
                a(href='lecture.html')
                  +buttonMore('Узнать больше')
            +cell(8)
              .text-right.hide-for-small-only
                .lecturer
                  .title
                    span
                      if (lecture.lecturers.length === 1)
                        | лектор:
                      else
                        | лекторы:
                        
                  each lecturer in lecture.lecturers
                    .value= `${lecturer.firstName} ${lecturer.lastName}`

      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 hide-for-small-only')
        .image
          img(src=lecture.imageForCourse, alt=lecture.title)

mixin lecturesListCourse(lectures)
  - let len = lectures.length;
  .lectures-container.show-more-container
    each lecture, index in lectures
      +lectureItemCourse(lecture, index)
    if (len > 2)
      +containerX()
        +buttonShowMore('Показать еще')(class='lecture-show-more')
      
mixin lecturesListCycle(lectures)
  - let len = lectures.length;
  .lectures-container.show-more-container
    each lecture, index in lectures
      +lectureItemCycle(lecture, index)
    if (len > 2)
      +containerX()
        +buttonShowMore('Показать еще')(class='lecture-show-more')
      
mixin lectureItemSchedule(lecture, cls, noOther)
  .lectures-item.item(class=cls)
    div(id=`date-${moment(lecture.date).format('MM-DD')}`).anchor-date-point
      +containerFullX()
        +cell4Off1()
          .image
            a(href=lecture.link)
              img(src=lecture.image, alt=lecture.title)
        +cell10()
          .grid-y
            .cell.lh-1
              +tag(lecture.tag[0])
              +formatDateTime(lecture.date)(class='time')
              if (noOther)
                +separator()
                .other-date
                  a(href='lecture.html')= 'другие даты >>'
                  
            .cell
              +itemTitle(`Лекция “${lecture.title}”`, `Курс “${lecture.course}”`, 'lecture.html', 'course.html')
            .cell
              .grid-container.full
                .grid-x.grid-margin-x
                  .large-11.cell
                    .lecturers-list
                      each lecturer in lecture.lecturers
                        a(href='lecturer.html')
                          .lecturer-item
                            .icon
                              img(src="assets/img/lecturer.png")
                            .title
                              - let fullName = `${lecturer.firstName} ${lecturer.lastName}`
                              |#{fullName}
                    .locations-list      
                      each location in lecture.locations
                        .location-item
                          .icon
                            img(src='assets/img/location.png', alt=location.name)
                          .title
                            |#{location.title}, #{location.address}, (#{location.alias})
                  .large-5.cell
                    .buttons
                      +buttonBuy('Купить билет', 'lecture.html')
