article.buy
  +containerX()
    +blockTitle('Купить билет', false, 'h12', 'less')
  +containerFullX()
    +cell10Off1()
      .how
        +subTitle('сколько')
          span #{lecture.price} 
            +ruble()
            |&nbsp;/ #{lecture.time} часа
            
    +cell4()
      +sale(lecture.sale)
  +lecturesBuy([lecture])
  
  +containerX()
    .options
      .quantity
        .title
          h3 
            |число
            br
            |участников
        .tickets
          .title-r.minus.pos-relative
            .vh-center -
          input(type='text', name='tickets', value=0).ink
          .title-r.plus.pos-relative
            .vh-center +
      .promocode
        .title
          h3 промо-код
        .pos-relative
          input(type='text', name='promocode')
          span
      .total
        |итого:&nbsp;
        span.total-item #{lecture.price}
        |&nbsp;
        +ruble()
      +buttonBuy('Купить билет')
  
  +containerX()
    .order
      .title
        h3 Ваш заказ:
      .lecture-list
        ul
          li(data-lecture-id=lecture.id)
            span •&nbsp;
            |#{lecture.title}
            br
            +formatDateShort(lecture.dates[0].date)
            |&nbsp;в&nbsp;
            +formatDateTime(lecture.dates[0].date)
            |,
            br
            |#{lecture.dates[0].location.title} (#{lecture.dates[0].location.address})
      .description
        |Если у вас остались вопросы, мы с радостью ответим на них по телефону: #{locals.app.phone}
  
  +containerFullX()
    +cell4Off1()
      .other-date-subscribe
        h3 Мне не подходят эти даты
        p Узнать о новом расписании:
        +subscribeForm()
