article.contacts
  +containerX()
    +blockTitle('Контакты')
  
  .content.pos-relative
    .description.horizontal-center
      +containerX()
        .title
          h3 Центральный офис
        .address
          span Бобров переулок д.6 стр.1
        .phone
          span +7 (495) 777 77 77
    #map
