article.gallery
  +containerX()
    +blockTitle('Фотографии с мероприятий')
  .content
    .items
      .swiper-container.gallery-container
          .swiper-wrapper.gallery-lightbox.position-rel
              each item in gallery
                a.swiper-slide.popup-gallery(href=item.image, rel='gallery', title=item.caption)
                  .image(style={"background-image": `url('${item.thmb}')`})
          .nav-slider.nav-slider-next
          .nav-slider.nav-slider-prev
