mixin closeModalButton()
  button.close-button(data-close, aria-label='Close modal', type='button')
    img(src='assets/img/close_b.png', alt='close')
    
#signInModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Авторизация 
      
    form(action='/users/sign-in', method='post', data-abide, novalidate)
      label 
        span email
        input(type='text', name='email', required, pattern='email')
      label
        span пароль
        input(type='password', name='password', required)
          
      .remember
        input(type='checkbox', value='true', name='remember', id='rememberCheck' checked=true)
        label(for='rememberCheck')
          span
          |Запомнить меня
          
      .form-error
            
      .actions
        button(type='submit').submit Войти
        .forgot(data-open='forgotModal') забыли пароль?
        
    .actions-other.text-center
      .sign-up(data-open='signUpModal') Регистрация
      div Вход через соцсети
      .social.social-button
        div
          img(src='assets/img/social-fb.png')
        div
          img(src='assets/img/social-vk.png')
        //- div
        //-   img(src='assets/img/social-in.png')
        //- 
    +closeModalButton()


#signUpModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Регистрация 
      
    form(action='/users/sign-up', method='post', data-abide, novalidate)
      label имя
        input(type='text', name='firstName', required, pattern='alpha_ru')
      label фамилия
        input(type='text', name='lastName', required, pattern='alpha_ru')
      label email
        input(type='text', name='email', required, pattern='email')
      label пароль
        input#password(type='password', name='password', required, pattern='password')
      label повторите пароль
        input(type='password', name='repassword', required, data-equalto='password', pattern='password')
      input(type='hidden', value='true', name='remember', id='rememberCheck')
      .form-error
      .actions
        button(type='submit').submit Отправить
    
    +closeModalButton()

#forgotModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Сброс пароля 
    
    .form-success
          
    form(action='/users/reset-pass', method='post', data-abide, novalidate, data-href='/')
      label email
        input(type='text', name='email', required, pattern='email')
      .form-error
      .actions
        button(type='submit').submit Сбросить
    
    +closeModalButton()
