mixin closeModalButton()
  button.close-button(data-close, aria-label='Close modal', type='button')
    img(src='/assets/img/close_b.png', alt='close')
    
#signInModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Авторизация 
      
    form(action='/users/sign-in', method='post', data-abide, novalidate)
      label 
        span email
        input(type='text', name='email', required, pattern='email')
      label
        span пароль
        input(type='password', name='password', required)
          
      .remember
        input(type='checkbox', value='true', name='remember', id='rememberCheck' checked=true)
        label(for='rememberCheck')
          span
          |Запомнить меня
          
      .form-error
      
      .actions
        button(type='submit').submit Войти
        .forgot(data-open='forgotModal') забыли пароль?
        
    .actions-other.text-center
      .sign-up(data-open='signUpModal') Регистрация
      div Вход через соцсети
      .social.social-button
        div
          a(href='/users/facebook', alt='Авторизация через facebook')
            img(src='/assets/img/social-fb.png')
        div
          a(href='/users/vk', alt='Авторизация через vkontakte')
            img(src='/assets/img/social-vk.png')
        //- div
        //-   a(href='/users/instagram', alt='Авторизация через instagram')
        //-     img(src='/assets/img/social-in.png')
            
    +closeModalButton()


#signUpModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Регистрация 
      
    form(action='/users/sign-up', method='post', data-abide, novalidate)
      label имя
        input(type='text', value='', name='firstName', required, pattern='alpha_ru')
      label фамилия
        input(type='text', value='' name='lastName', required, pattern='alpha_ru')
      label email
        input(type='text', value='' name='email', required, pattern='email')
      label пароль
        input#password(type='password', value='', name='password', required, pattern='password')
      label повторите пароль
        input(type='password', value='', name='repassword', required, data-equalto='password', pattern='password')
      input(type='hidden', value='true', name='remember', id='rememberCheck')
      //- label имя
      //-   input(type='text', value='Слава', name='firstName', required, pattern='alpha_ru')
      //- label фамилия
      //-   input(type='text', value='Викторов' name='lastName', required, pattern='alpha_ru')
      //- label email
      //-   input(type='text', value='vsviktorov@gmail.com' name='email', required, pattern='email')
      //- label пароль
      //-   input(type='password', value='12345678', name='password', id='password', required)
      //- label повторите пароль
      //-   input(type='password', value='12345678', name='repassword', required, data-equalto='password')

      .form-error

      .actions
        button(type='submit').submit Отправить
    
    
    +closeModalButton()

#forgotModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Сброс пароля 
    
    .form-success
    
    form(action='/users/reset-pass', method='post', data-abide, novalidate)
      label email
        input(type='text', name='email', required, pattern='email')
      
      .form-error
      
      .actions
        button(type='submit').submit Сбросить
    
    +closeModalButton()

#reviewModal.reveal.reveal-s(data-reveal)
  .reveal-inner
    .title
      h2 Оставить отзыв
    .sub-title
      h3
        
    .form-success
    
    form.form-review(action='/review', method='post', data-abide, novalidate)
      input(type='hidden', name='lectureId', required)
      input(type='hidden', name='eventId', required)
      textarea(name='review', placeholder='Текст отзыва' required)
      .form-error
      .actions
        button(type='submit').submit Отправить
    
    +closeModalButton()
