.lectures-item h4 {
  margin-bottom: 0;
  font-family: 'Roboto Slab';
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.1;
}

.lectures-item h3 {
  margin-top: .25rem;
  margin-bottom: .125rem;
  line-height: 1.1;
  font-size: 1.5625rem;
}

.lectures-item .locations-list .title {
  max-width: 90%;
}

.filter-list .button {
  padding: .333rem .6875rem .417rem;
}

.simple-calendar-ml .nav-calendar {
  vertical-align: middle;
}

.search .action .close {
  margin-top: 0;
}

.schedule-page .filter-schedule li .icon {
  margin-top: 0;
}

.schedule-page .filter-schedule li .icon img {
  margin-top: -.1875rem;
}

.grid-c3 .lecturer-block .content .title,
.grid-c3 .lecturer-block .content .skills {
  text-align: left;
}

@media screen and (max-width: 63.9375em) {
  .certificate-page .certificate-item .lectures-quantity {
    display: block;
    text-align: center;
  }
  .certificate-page .certificate-item .price {
    display: block;
    text-align: center;
  }
}
