.header {
  // margin-top: rem-calc(40);
  background: #fff;

  .show-m-offcanvas {
    margin-top: rem-calc(20);
    @include breakpoint(small only) {
      margin-top: rem-calc(12);
    }
  }
  .phone {
    color: #1e1e1f;
    font-family: 'Roboto Slab';
    font-size: rem-calc(16);
    font-weight: bold;
  }
  .sticky-animate {
    // transition: height .2s linear;
    .sticky {

      // transition: padding .25s linear;
      &.is-stuck {
        // transition: padding .25s linear;
      }
    }
  }
  .st-wrap {
    transition: transform 0.4s, height 0.4s;
    @include breakpoint(medium down) {
      &.mobile-hidden {
        transform: translateY(-100%);
      }
    }
    .st-inner {
      // padding: rem-calc(40 0 48 0);
      padding: rem-calc(15 0);
      transition: transform 0.4s;
    }
  }
  .sticky {
    background: #fff;
    &.is-stuck {
      // padding: rem-calc(15 0);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
  &.header-logo {
    padding: rem-calc(15 0);
  }
}
