.main-menu {
  font-weight: 500;
  font-size: rem-calc(15);
  a {
    text-transform: uppercase;
    padding-top: rem-calc(7);
    padding-bottom: rem-calc(8);
    &:hover, &.active {
      .line {
        background: #000;
      }
    }
  }
  li {
    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
  .line {
    height: rem-calc(4);
    width: 100%;
    margin-bottom: rem-calc(2);
  }
  .icon {
    width: rem-calc(15);
    height: rem-calc(15);
    display: inline-block;
    margin-right: rem-calc(5);
  }
  .text {
    display: inline-block;
    vertical-align: sub;
  }
  .dropdown {
    &.menu {
      & > li {
        &.is-dropdown-submenu-parent {
          & > a {
            padding: 0;
            vertical-align: middle;
            margin-top: rem-calc(10);
            img {
              height: rem-calc(30);
              width: rem-calc(30);
            }
            &:after {
              display: none;
            }
          }
        }
        .is-dropdown-submenu {
          padding: rem-calc(10 10 5);
          a {
            padding: rem-calc(0 0 5);
            display: inline-block;
          }
        }
      }
    }
  }
}

.off-canvas {
  .close-button, .close-button {
    &:hover, &:focus {
      color: #fff;
    }
  }
}
