-
  function scriptStyleFilterList(items, containerClass, itemClass) {
    let output = '';
    items.forEach((item, index) => {
      if (index !== 0) {
        output += `
          .whatinput-types-touch .${containerClass} .${itemClass}${index}:focus,
          .whatinput-types-touch .${containerClass} .${itemClass}${index}:active,
          .whatinput-types-mouse .${containerClass} .${itemClass}${index}:hover,
          .${containerClass} .${itemClass}${index}.active  {
            background-color: ${item.color.replace(/"/g, '')};
            color: ${item.textColor.replace(/"/g, '')};
          }\n`;
      }
    });
    return `
      (function () {
        var css = '${output.replace(/\n/g, '')}';
        var style = document.createElement('style');

        if (style.styleSheet) {
          style.styleSheet.cssText = css;
        } else {
          style.appendChild(document.createTextNode(css));
        }

        document.getElementsByTagName('head')[0].appendChild(style);
      })();
    `;
  }
