mixin certificatesAccount(certificates)
  each certificate in certificates
    .lecture
      +containerFullX()
        +cellOffset(3, 1)(class='medium-offset-1 medium-3 small-offset-1 small-14')
          .show-for-small-only
            strong Название:
          .inner
            div= certificate.title
            
        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .show-for-small-only
            strong Остаток лекций:
          .mid
          .inner
            div= certificate.unusedLectures
        
        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .show-for-small-only
            strong Количество персон:
          .mid
          .inner
            div= certificate.personsCount
              
        +cell(3)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .show-for-small-only
            strong Дата окончания действия:
          .mid
          .inner
            div
              +formatDate(certificate.end)
              
        +cell(2)(class='large-offset-0 medium-offset-0 medium-3 small-offset-1 small-14')
          .show-for-small-only
            strong Промокод:
          .inner
            div= certificate.code

        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .inner
            .actions
              if (certificate.payment && certificate.payment.status)
                case certificate.payment.status
                  when 'PAID'
                    .button.load-ticket оплачен
                  when 'PENDING'
                    a(href=`/certificate/payment/${certificate.payment.id}`)
                      .button.paid оплатить заказ
                    a(href=`/certificate/cancel/${certificate.id}`)
                      .button.cancel отменить заказ

mixin subscriptionsAccount(subscriptions)
  each subscription in subscriptions
    .lecture
      +containerFullX()
        +cellOffset(3, 1)(class='medium-offset-1 medium-3 small-offset-1 small-14')
          .show-for-small-only
            strong Название:
          .inner
            div= subscription.title
            
        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .show-for-small-only
            strong Остаток лекций:
          .mid
          .inner
            div= subscription.unusedLectures
        
        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .show-for-small-only
            strong Количество персон:
          .mid
          .inner
            div= subscription.personsCount
              
        +cell(3)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .show-for-small-only
            strong Дата окончания действия:
          .mid
          .inner
            div
              +formatDate(subscription.end)
              
        +cell(2)(class='large-offset-0 medium-offset-0 medium-3 small-offset-1 small-14')
          .show-for-small-only
            strong Промокод:
          .inner
            div= subscription.code

        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
          .inner
            .actions
              if (subscription.payment && subscription.payment.status)
                case subscription.payment.status
                  when 'PAID'
                    .button.load-ticket оплачен
                  when 'PENDING'
                    a(href=`/subscription/payment/${subscription.payment.id}`)
                      .button.paid оплатить заказ
                    a(href=`/subscription/cancel/${subscription.id}`)
                      .button.cancel отменить заказ
                  
