mixin lecturerslide(item)
  - let fullName = `${item.firstName} ${item.lastName}`;
  .swiper-slide.slide.text-center
    +lecturerBlock(item)

mixin reviewSlide(item, index)

  - let id = `review-${index}`;
  .swiper-slide.slide
    .content
      .left
          if (item.user && item.user.avatar)
            .avatar
              img(src=`${IMAGE_HOST}/${item.user.avatar}/160x160/`)
          else
            .account
              .avatar.avatar-text
                |#{`${item.user.firstName[0].toUpperCase()}${item.user.lastName[0].toUpperCase()}`}
      .right
        .title
          h3
            span.lecture-title= item.lecture.title
            if (item.lecture.course && item.lecture.course.length > 0) 
              span.lecture-title.separator &nbsp;/&nbsp;
              br
              span.course-title= `курс “${item.lecture.course[0].title}”`
              
            else if (item.lecture.cycle && item.lecture.cycle.length > 0) 
              span.lecture-title.separator &nbsp;/&nbsp;
              br
              span.course-title= `цикл “${item.lecture.cycle[0].title}”`
              
        +anonsReveal(item.anons, item.link, id)
      .reveal.review-reveal(id=id, data-reveal)
        .left
          if (item.user && item.user.avatar)
            .avatar
              img(src=`${IMAGE_HOST}/${item.user.avatar}/160x160/`)
          else
            .account
              .avatar.avatar-text
                |#{`${item.user.firstName[0].toUpperCase()}${item.user.lastName[0].toUpperCase()}`}
              
        .right
          .title
            h3
              span.lecture-title= item.lecture.title
              if (item.lecture.course && item.lecture.course.length > 0) 
                span.lecture-title.separator &nbsp;/&nbsp;
                br
                span.course-title= `курс “${item.lecture.course[0].title}”`
                
              else if (item.lecture.cycle && item.lecture.cycle.length > 0) 
                span.lecture-title.separator &nbsp;/&nbsp;
                br
                span.course-title= `курс “${item.lecture.cycle[0].title}”`
                
          .text
            p= item.description
            
        button.close-button(data-close='', aria-label='Close modal', type='button')
            //- span(aria-hidden='true') &times;
            img(src='/assets/img/close.png', alt='close')

        
mixin locationSlide(location)
  .swiper-slide.slide
    .content
      .image
        if location.image && location.image !== 'no-photo'
          img(src=`${IMAGE_HOST}/${location.image}/340x220/${location.title}.jpg`, alt=location.title)
        else
          img(src='/assets/img/no-photo-340x222.png', alt=location.title)
      .line
      .title
        h3= location.title
      .address= location.address

mixin lectureBuySlide(lecture, item)
  - let id = lecture.id;
  - let itemId = item.id
  - let date = item.date;
  - let metro = item.location.metro;
  .swiper-slide.slide(data-lecture-id=id, data-event-id=itemId, data-lecture-date=date)
    .content
      .checkbox-f
      .date
        +formatDateShortM(date)
        |,&nbsp;
        +formatDateTime(date)
      +day(date)
      .metro м. #{metro}
        
mixin slider(n)
  .grid-x
    .large-1.small-1.cell.pos-relative.slider-nav-left
      .slider-button-prev.vh-center.slider-nav
    .large-14.small-14.cell
      div(class=`swiper-container slider-container slides-perview-${n}`)
        .swiper-wrapper
          block
    .large-1.small-1.cell.pos-relative.slider-nav-right
      .slider-button-next.vh-center.slider-nav
        
mixin sliderFull(n, i)
  .grid-x
    .large-16.pos-relative.slider-full.cell(class=`slider-index-${i}`)
      .slider-nav-left.slider-nav-wrap
        .slider-button-prev.vh-center.slider-nav
      div(class=`swiper-container slider-container slides-perview-${n}`)
          .swiper-wrapper
            block
      .slider-nav-right.slider-nav-wrap
        .slider-button-next.vh-center.slider-nav
    
