#offCanvasLeft.off-canvas.position-left(data-off-canvas)
  ul.menu.vertical
    +menuItem({link: 'http://aolabs.ru/synho/', title: 'Главная'})
    each item in locals.app.mainMenu
      +menuItem(item)
    if user
      +menuItem(locals.app.userMenu.account)
      +menuItem(locals.app.userMenu.signOut)
    else
      +menuItem(locals.app.userMenu.signIn)(data-open='signInModal')

  button.close-button(aria-label='Close menu' type='button', data-close) ×
