- function checkHoliday(date) { const day = new Date(date).getDay(); return day === 0 || day === 6 ? true : false }
if (!events || events.length === 0)
  .text-center.no-found Ничего не найдено
else
  each event in events
    - var lecture = event.lecture;
    .item
      .grid-container
        .grid-x.grid-margin-x
          .large-3.medium-4.small-6.cell
            a(href=lecture.alias.alias)
              .image
                if lecture.img340x192 && lecture.img340x192 !== 'no-photo'
                  img(src=`${IMAGE_HOST}/${lecture.img340x192}`, alt=lecture.title)
                else
                  img(src='/assets/img/no-photo-340x192.png', alt=lecture.title)
          .large-13.medium-12.small-10.cell
            .date-item
              span= moment(event.date).format('D MMMM')
              span , 
              .day(class=checkHoliday(event.date) ? 'holiday' : '')
                span= moment(event.date).format('dddd')
            .title
              a(href=lecture.alias.alias)
                .lecture-title #{`Лекция “${lecture.title}”`}
              if lecture.course.length > 0
                a(href=lecture.course[0].alias.alias)
                  .course-title #{'Курс' + '“' + lecture.course[0].title + '”'}
              if lecture.cycle.length > 0
                a(href=lecture.cycle[0].alias.alias)
                  .course-title #{'Цикл' + '“' + lecture.cycle[0].title + '”'}
                  
            .lecturers-list.hide-for-small-only
              each lecturer in event.lecturers
                a(href=lecturer.alias.alias)
                  .lecturer-item
                    .icon
                      img(src="assets/img/lecturer.png")
                    .title
                      - let fullName = `${lecturer.firstName} ${lecturer.lastName}`
                      |#{fullName}
            .locations-list.hide-for-small-only  
              .location-item
                .icon
                  img(src='assets/img/location.png', alt=event.location.title)
                .title
                  |#{event.location.title}, #{event.location.address}
