extends ../layouts/layout

block vars
  - activeLink = 'agreement.html';
  - page = 'agreement';
  
block title
  - let agreement = pages.agreement;
  title Синхронизация | #{agreement.title}

block content
  main.main.agreement-page
    .main-title
      +containerX()
        +blockTitle(agreement.title, true)
        .sub-title
          if (agreement.subTitle)
            |#{agreement.subTitle}
        
    .agreement
      .content
        +containerX()
          .description
            p= agreement.description
            
    //- include ../components/contacts      
block scripts
