extends ../layouts/layout

block vars
  - activeLink = 'confirm-email.html';
  - page = 'confirmEmail';
  
block title
  -let currentPageData = { title: 'Подтверждение E-mail', error: true, expired: true, fail: true, success: true };
  - let confirmEmail = currentPageData;
  title Синхронизация | #{confirmEmail.title}

block content
  main.main.reset-page
    .main-title
      +containerX()
        +blockTitle()
      +containerFullX()   
        +cellOffset(6, 5)
          .block-title
            h1= confirmEmail.title
          .sub-title
            if (confirmEmail.subTitle)
              |#{confirmEmail.subTitle}
        
    .confirm-email.form-default
      .content
        if (confirmEmail.success)
          +containerFullX()   
            +cellOffset(6, 5)
              p.success
              |На указанный e-mail отправлена инструкция для сброса пароля
        else if (confirmEmail.error)
          +containerFullX()   
            +cellOffset(6, 5)
              p.error Недействительная или просроченная ссылка
        if (confirmEmail.expired)
          +containerFullX()   
            +cellOffset(6, 5)
              p Отправить ссылку еще раз
              form(action='/users/confirm-email', method='post', data-abide, novalidate, data-href='/')
                label E-mail
                  input(type='text', name='email', required, pattern='email')
                
                p.error
                  if (confirmEmail.fail)
                    | Пользователь не найден, проверьте введенные данные
                                  
                .actions
                  button(type='submit').submit Отправить
        
                
            
    //- include ../components/contacts      
block scripts
