extends ../layouts/layout

block vars
  - activeLink = 'catalog.html';
  - page = 'course';
  
block title
  - let course = pages.course;
  title Синхронизация | #{course.title}

block content
  main.main.course-page
    .main-title
      +containerX()
        +blockTitle(course.title, true)
        .sub-title
          .hide-for-small-only
            if (course.subTitle)
              |#{course.subTitle}
        
    .course
      .content
        +containerX()
          .image
            .hide-for-small-only
              img(src=course.image, alt=course.title)
            .show-for-small-only
              img(src=course.imageMobile, alt=course.title)
        +navStikyAnchors('course')
        
        //- +containerX()
        //-   .show-for-small-only
        //-     +whenWhereHowCourse(course)
                    
        +containerFullX()
          +cell10Off1()
            .left
              .anons
                p= course.anons
              .description
                p= course.description
              
          +cell4()
            //- .show-for-small-only
            //-   .append-for-small-button.text-center
            //-     +buttonBuy('Купить', '#buy')(class='anchor')
            //- .hide-for-small-only
            +whenWhereHowCourse(course)
                
      include ../components/howWorkCourse
      
      .lecturers-list  
        #lecturers.anchor-point
          +blockTitleRetag('Лекторы', false, 'h10', 'less')
        
          +lecturersListCourse(course.lecturers)
      
      #lectures.anchor-point
        +containerX()
          +blockTitle('Описание встреч', false, 'h10', 'less')
        +lecturesListCourse(course.lectures)
      
      #reviews.anchor-point
        include ../components/reviewsLecture
          
      +buyCourse(course)
    
      include ../components/recomendationLecture
      
      include ../components/contacts
        
block scripts
  script(src='assets/js/templates/participant.js')
  script(src='assets/js/course.js')
