extends ../layouts/layout

block vars
  - activeLink = '/catalog';
  - page = 'lecture';

block title
  - let lecture = pages.lecture;
  title Синхронизация | #{lecture.title}

block content
  main.main.lecture-page 
    .main-title
      +containerX()
        +blockTitle(lecture.title, true)
        .course-title
          if (lecture.course)
            |Курс #{lecture.course}
            
    .lecture
      .content
        +containerX()
          .image
              img(src=lecture.image, alt=lecture.title)
        +navStikyAnchors('lecture')
        
        #lectures.anchor-point
          +containerFullX()
            +cell10Off1()
              .description
                p= lecture.description
              .themes
                ul
                  each theme in lecture.themes
                    li
                      p= theme
            +cell4()
              .pos-relative
                .text-center
                  +buttonBuy('Купить', '#buy')(class='anchor')
                .when
                  +subTitle('когда')
                  +eventDates(lecture.dates, 2)
                  
                .where
                  +subTitle('где')
                  +locationsList(lecture.locations)
                .how
                  +subTitle('сколько')
                  .price
                    |#{lecture.price} руб.
                .abstract5
                  img(src='/assets/img/abstract5.png')
                
      include ../components/howWorkLecture
      
      #lecturers.anchor-point
        +containerX()
          - let lecturersMany = lecture.lecturers.length > 1;
          if (lecturersMany)
            +blockTitle('Лекцию ведут', false, 'h10', 'less')
          else
            +blockTitle('Лекцию ведет', false, 'h10', 'less')
            
        +lecturersList(lecture.lecturers)
        
      #reviews.anchor-point
        include ../components/reviewsLecture
          
      +buyLecture(lecture, 'noTickets', false)
      
      include ../components/recomendationLecture
      
      include ../components/contacts
          
block scripts
  script(src='/assets/js/templates/participant.js')
  script(src='/assets/js/lecture.js')
