extends ../layouts/layout

block vars
  - activeLink = currentPageData.activeLink;
  - page = currentPageData.page;
  
block title
  title Синхронизация | #{currentPageData.title}

block content
  main.main.simple-page
    .main-title
      +containerX()
        +blockTitle(currentPageData.title, true)
        .sub-title
          if (currentPageData.subTitle)
            |#{currentPageData.subTitle}
        
    .content
      +containerX()
        .description
          |!{currentPageData.description.replace(/\n/ig, '</br>')}
            
    //- include ../components/contacts      
block scripts
