.about-page {
  .about {
    margin-top: rem-calc(36);
  }
  .icon {
    display: inline-block;
    background-size: contain;
    &.man {
      width: rem-calc(21);
      height: rem-calc(46);
      background-image: url('../img/man.png');
    }
    &.globus {
      width: rem-calc(40);
      height: rem-calc(40);
      background-image: url('../img/globus.png');
    }
    &.people {
      width: rem-calc(46);
      height: rem-calc(35);
      background-image: url('../img/people.png');
    }
  }
  .block-one {
    .image {
      margin-bottom: rem-calc(25);
    }
    .description {
      font-family: 'Roboto Slab';
      margin-top: rem-calc(52);
      font-size: rem-calc(25);
      line-height: 1.4;
      strong {
        padding: rem-calc(0 3);
        display: inline-block;
        background: #000;
        color: #fff;
      }
    }
  }
  .block-two {
    margin-top: rem-calc(28);
    h2 {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      line-height: 1.18;
      font-weight: 700;
      text-align: left;
      position: relative;
      @include breakpoint(730 down) {
        font-size: rem-calc(20);
      }
      @include breakpoint(small down) {
        font-size: rem-calc(25);
      }
      .icon {
        position: absolute;
        top: rem-calc(5);
        left: 0;
        &.man {
          left: rem-calc(27);
        }
        &.globus {
          left: rem-calc(15);
        }
        &.people {
          left: rem-calc(10);
        }
      }
      .text {
        display: inline-block;
        margin-left: rem-calc(71);
      }
    }
    p {
      margin-top: rem-calc(26);
      font-size: rem-calc(25);
      font-family: 'Roboto';
      line-height: 1.2;
      margin-bottom: rem-calc(50);
      @include breakpoint(730 down) {
        font-size: rem-calc(20);
      }
      @include breakpoint(small down) {
        font-size: rem-calc(25);
      }
    }
    .cell {
      .content {
        max-width: rem-calc(320);
        display: inline-block;
        text-align: center;

        @include breakpoint(medium down) {
          max-width: rem-calc(300);
        }
        @include breakpoint(730 down) {
          max-width: rem-calc(230);
        }
        @include breakpoint(small down) {
          max-width: 100%;
          display: block;
        }
      }
      &:first-child {
      }
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
  }
  .block-three {
    .red {
      color: #ef1818;
    }
    .black {
      color: #000;
    }
    .blue {
      color: #4e66ab;
    }
    .brown {
      color: #996a0f;
    }
    .fig {
      font-family: 'Roboto Slab';
      font-size: rem-calc(140);
      font-weight: 700;
      line-height: 1;
      margin-bottom: rem-calc(12);

      @include breakpoint(medium down) {
        font-size: rem-calc(100);
      }

      @include breakpoint(730 down) {
        font-size: rem-calc(80);
      }

      @include breakpoint(small down) {
        font-size: rem-calc(140);
      }
    }
    .caption {
      font-family: 'Roboto Slab';
      font-size: rem-calc(35);
      line-height: 1.2;

      @include breakpoint(medium down) {
        font-size: rem-calc(30);
      }
      @include breakpoint(small down) {
        margin-bottom: rem-calc(30);
        font-size: rem-calc(35);
      }
    }
    .figures {
      margin-top: rem-calc(36);
      margin-bottom: rem-calc(96);
    }
  }
  .block-four {
    h3 {
      span {
        color: #fff;
        display: inline-block;
        padding: rem-calc(0 3);
        background-color: #000;
        font-size: rem-calc(25);
        font-family: 'Roboto';
        font-weight: 700;
      }
    }
    .description {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      line-height: 1.4;
      margin-bottom: rem-calc(30);
    }
    .importans {
      margin-top: rem-calc(40);
    }
  }
  .block-five {
    .team {
      margin-top: rem-calc(44);
      .grid-container {
        padding: 0;
      }
      .lecturer-block {
        margin-bottom: rem-calc(82);
      }
    }
  }
  .block-six {
    h2 {
      line-height: 1;
      margin-bottom: rem-calc(45);
      span {
        display: inline-block;
        padding: rem-calc(0 3 1);
        color: #fff;
        background-color: #000;
        font-size: rem-calc(25);
        font-weight: 700;
        font-family: 'Roboto Slab';
        line-height: 1.2;
      }
    }
    .thanks {
      margin-bottom: rem-calc(95);
      .content {
        font-family: 'Roboto Slab';
        font-size: rem-calc(25);
        font-weight: 700;
        line-height: 1.6;
        margin-right: rem-calc(160);
        @include breakpoint(medium down) {
          margin-right: rem-calc(100);
        }
      }
    }
  }
  .button-more {
    font-family: 'Roboto Slab';
    font-size: rem-calc(28);
    padding: rem-calc(20 24 25 38);
    margin-bottom: rem-calc(44);
    margin-top: rem-calc(10);
  }
}
