.catalog-page {
  .filter-list {
    margin-top: rem-calc(23);
    margin-bottom: rem-calc(52);
  }
  .title-with-color {
    margin-bottom: rem-calc(23);
  }
  .sortable-item {
    margin-bottom: rem-calc(91);
    &:last-child {
      margin-bottom: rem-calc(106);
    }
  }
  .contacts {
    padding-top: rem-calc(10);
  }
  .lectures-item {
    .image {
      img {
        box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 0.35);
      }
    }
  }
  .lectures-item {
    // .other-date {
    //   @include breakpoint(small only) {
    //     display: block;
    //     text-align: right;
    //   }
    // }
    .separator {
      @include breakpoint(small only) {
        display: none;
      }
    }
  }
  .other-date {
    @include breakpoint(small only) {
      display: block;
      padding: rem-calc(3 0);
    }
  }
  .more {
    @include breakpoint(small only) {
      display: block;
    }
    @include breakpoint(medium only) {
      display: block;
    }
  }
}
