.lecturers-page {
  .description {
    p {
      font-size: rem-calc(25);
      font-weight: 400;
      line-height: 1.35;
      margin-bottom: rem-calc(42);
    }
  }
  .filter-list {
    margin-top: rem-calc(18);
    margin-bottom: rem-calc(41);
  }
  .title-with-color {
    h2 {
      margin-bottom: rem-calc(64);
    }
  }
  .grid-c3 {
    .cell {
      margin-bottom: rem-calc(61);
    }
  }
  .lecturers-sortable {
    margin-bottom: rem-calc(42);
  }
}
