.subscription-page {
  .mobile-title {
    margin-bottom: rem-calc(40);
  }
  & > .content {
    padding-bottom: rem-calc(10);

  }
  .description {
    margin-top: rem-calc(15);
    p {
      font-size: rem-calc(25);
      // margin-bottom: rem-calc(1);
      margin-bottom: 1px;
    }
  }
  .sub-title {
    h2 {
      font-size: rem-calc(25);
      font-weight: 700;
      margin-bottom: rem-calc(42);
    }
  }

  .subscription-item {
    margin-bottom: rem-calc(53);
    .content {
      margin-top: rem-calc(33);
      // @include breakpoint(small only) {
      //   margin-top: 0;
      // }
    }
    .subscription-content {
      margin-top: rem-calc(60);
      @include breakpoint(small only) {
        text-align: center;
        margin-top: 0;
      }
    }
    .image {
      img {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
      }
    }
    .title {
      text-align: right;
      text-transform: lowercase;
      line-height: 1;
      h3 {
        background: #000;
        color: #fff;
        display: inline-block;
        font-family: 'Roboto Slab';
        font-size: rem-calc(25);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: rem-calc(8);
        padding-right: rem-calc(8);
      }
    }
    .line {
      height: rem-calc(12);
      background: #000;
      width: 150%;
      position: absolute;
      right: 0;
      z-index: -1;
    }
  }
  .lectures-quantity, .price, .separator{
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size: rem-calc(45);
    line-height: 1;
    margin-bottom: rem-calc(14);
  }
  .price {
    @include breakpoint(small only) {
      display: block;
    }
  }
  .separator {
    @include breakpoint(small only) {
      display: none;
    }
  }
  .lectures-quantity {
    font-weight: 700;
  }
  .validity {
    font-family: 'Roboto Slab';
    font-size: rem-calc(35);
    font-weight: 700;
    line-height: 1;
    margin-bottom: rem-calc(27);
  }
  .economy {
    font-family: 'Roboto Slab';
    font-size: rem-calc(30);
    font-weight: 400;
    line-height: 1;
    margin-bottom: rem-calc(65);
  }
}
