mixin lecturerBlock(item)
  -let fullName = `${item.firstName} ${item.lastName}`;
  //- a(href=`lecturer/${item.id}`).lecturer-block
  a(href=`/${item.alias.alias}`).lecturer-block
    .content
      .inner
        .image
          if item.img340x225 && item.img340x225 !== 'no-photo'
            img(src=`${IMAGE_HOST}/${item.img340x225}/340x225/${slugify(fullName)}.jpg`, alt=fullName)
          else
            img(src='/assets/img/no-photo-340x225.png', alt=fullName)
        .line
        .title
          |#{fullName}
        .skills
          //- each skill, index in skills
            
          |#{item.skills.join(', ')}  

mixin liCircle(text)
  li
    span.circle • 
    | #{text}
