mixin buyProfileInput(gift)
  h3 Заказчик
  label имя
    input(type='text', name='firstName', required, pattern='alpha_ru')
  label фамилия
    input(type='text', name='lastName', required, pattern='alpha_ru')
  label email
    input(type='text', name='email', required, pattern='email')
  label телефон
    input(type='text', name='phone', required, pattern='phone')
  
  if (gift)
    h3 Получатель
    label имя
      input(type='text', name='firstNameGift', required, pattern='alpha_ru')
    label фамилия
      input(type='text', name='lastNameGift', required, pattern='alpha_ru')
    label email
      input(type='text', name='emailGift', required, pattern='email')
    label дата вручения
      input(type='date', name='dateOfDeliveryGift', required)
      
mixin buyCertModal(items, infinity)
  #buyCertModal.buy-others.reveal.reveal-s(data-reveal)
    .reveal-inner
      .title
        h2 Cертификат
        
      form(action='/certificate/draft', method='post', data-abide, novalidate)
        legend Количество лекций:
        .items
          each item, index in items
            - let quantity = item.lecturesCount;
            - let id = item.id;
            .qnt
              input(type='radio', name=`id-${id}`, id=`lecturesCount-${quantity}`, required)
              label(for=`lecturesCount-${quantity}`) 
                if (quantity > 0)
                  |#{quantity}
                  |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}
                  | - #{item.price} 
                  +ruble()
                else
                  |безлимит
          if (infinity)
            .qnt    
              input(type='radio', name=`id-${id}`, id='lecturesCount-all', required)
              label(for='lecturesCount-all')
                |безлимит - #{infinity.price} 
                +ruble()
              
        .profile-items
          +buyProfileInput(true)
          
        .form-error
          
        .actions.text-center
          +buttonBuySubmit('Купить')
        .agreement.text-center
          | Нажимая “Купить билет”, Вы принимаете условия 
          a(href='agreement', target='_blank') Пользовательского соглашения
      
      +closeModalButton()
        
mixin buySubsModal(items)
  #buySubsModal.buy-others.reveal.reveal-s(data-reveal)
    .reveal-inner
      .title
        h2 Абонемент
        
      form(action='/subscription/draft', method='post', data-abide, novalidate)
        legend Количество лекций:
        .items
          each item, index in items
            - let quantity = item.lecturesCount;
            - let id = item.id;
            .qnt
              input(type='radio', name=`id-${id}`, id=`lecturesCount-${quantity}`, required)
              label(for=`lecturesCount-${quantity}`) 
                if (quantity > 0)
                  |#{quantity}
                  |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}
                  | - #{item.price} 
                  +ruble()
                else
                  |безлимит
                  | - #{item.price} 
                  +ruble()
              
        .profile-items
          +buyProfileInput()
          
        .form-error
        
        .actions.text-center
          +buttonBuySubmit('Купить')
        .agreement.text-center
          | Нажимая “Купить билет”, Вы принимаете условия 
          a(href='agreement', target='_blank') Пользовательского соглашения
      
      +closeModalButton()
      
mixin buyOtherDateSubscription(end)
  +containerFullX()
    if (end)
      +cellOffset(4, 6)(class='medium-offset-5 medium-6 small-offset-1 small-14')
        .other-date-subscribe
          p Узнать о новом расписании:
          +subscribeForm('/subscribe/schedule', false)
    else
      +cell4Off1()
        .other-date-subscribe
          h3 Мне не подходят эти даты
          p Узнать о новом расписании:
          +subscribeForm('/subscribe/schedule', false)

mixin buyOptions(item, len)
  .options
    +containerX()
      .options-items
        .quantity
          .title
            h3 
              |число
              br
              |участников
          .tickets
            .title-r.minus.pos-relative
              .vh-center -
            input(type='text', name='tickets', value=0).ink
            .title-r.plus.pos-relative
              .vh-center +
        .promocode
          .title
            h3 промо-код
          .pos-relative
            input(type='text', name='promocode', autocomplete='off')
            span
        .total
          |итого:&nbsp;
          //- span.total-item #{item.price * len}
          span.order-price
          span.total-price 0
          |&nbsp;
          +ruble()
    ul.participants-list
    +containerX()
      +buttonBuySimple('Купить билет')(data-href='order', class='process-buy')
      .order-error.error(style='display: none;') Не выбраны даты
      .abide-error.error(style='display: none;') Добавьте участников
      .fetch-error.error
      .agreement
        | Нажимая “Купить билет”, Вы принимаете условия 
        a(href='agreement', target='_blank') Пользовательского соглашения
    
mixin buyOrder(lectures, discounts)
  +containerX()
    .order
      .title
        h3 Ваш заказ:
      .order-promocode.hidden
        .title
          h4 Промо-код:
            span
          
      .lecture-list
        ul
          each lecture in lectures
            if lecture.events.length > 0
              li(data-lecture-id=lecture.id)
                div
                  span •&nbsp;
                  |#{lecture.title}
                .date-empty
                  | Нет выбранных дат
                div
                  .date(style='display: none;')
                    span.l-month
                      +formatDateShort(lecture.events[0].date)
                    |&nbsp;в&nbsp;
                    span.l-time
                      +formatDateTime(lecture.events[0].date)
                    |,
                |#{lecture.events[0].location.title} (#{lecture.events[0].location.address})
      .description
        |Если у вас остались вопросы, мы с радостью ответим на них по телефону: #{locals.app.phone}
    
mixin buyCourse(course)
  #buy.anchor-point
    article.buy   
        
      +containerX()
        +blockTitle('Купить билет', false, 'h12', 'less')
              
      +containerX()
        .course-title
          +title(`Курс “${course.title}”`)
      +availableForBuy(course)
        +containerFullX()
          +cell10Off1()
            .how
              +subTitle('сколько')
                if (course.buyFull)
                  span курс
                  span(data-course-price=course.price) &nbsp;#{course.price}&nbsp;
                    +ruble()
                else
                  span лекция
                  span &nbsp;#{course.formattedPrice}&nbsp;
                    +ruble()
                  |&nbsp;/&nbsp;
                  span курс
                  span(data-course-price=course.price) &nbsp;#{course.price}&nbsp;
                    +ruble()
                  
          +cell4()
            +discounts(course.discounts)

        +lecturesBuy(course.lectures, 'course')
        
        +buyOptions(course.lectures[0], course.lectures.length)
      
        if (course.isAvailableForBuy)
          +buyOrder(course.lectures, course.discounts)
          +buyOtherDateSubscription()

mixin buyCycle(cycle)
  #buy.anchor-point
    article.buy
        
      +containerX()
        +blockTitle('Купить билет', false, 'h12', 'less')
      
      +containerX()
        .course-title
          +title(`Цикл “${cycle.title}”`)
          

      +availableForBuy(cycle)

        +containerFullX()
          +cell10Off1()
            .how
              +subTitle('сколько')
                span лекция
                span &nbsp;#{cycle.formattedPrice}&nbsp;
                  +ruble()
                  
          +cell4()
            +discounts(cycle.discounts)

        +lecturesBuy(cycle.lectures, 'cycle')
        
        +buyOptions(cycle.lectures[0], cycle.lectures.length)
        
        if (cycle.isAvailableForBuy)
          +buyOrder(cycle.lectures, cycle.discounts)          
          +buyOtherDateSubscription()

mixin buyLecture(lecture)
  #buy.anchor-point
    article.buy          
      +containerX()
        +blockTitle('Купить билет', false, 'h12', 'less')
        
      +availableForBuy(lecture)
        
        +containerFullX()
          +cell10Off1()
            .how
              +subTitle('сколько')
                span #{lecture.formattedPrice} 
                  +ruble()
                  |&nbsp;/ #{lecture.duration} часа
                  
          +cell4()
            +discounts(lecture.discounts)

        +lecturesBuy([lecture])
        +buyOptions(lecture, 1)
      
        if (!lecture.isAvailableForBuy)
          +buyOrder([lecture], lecture.discounts)
          +buyOtherDateSubscription()

mixin discounts(discounts)
  if discounts.length > 0
    .sale
      h3 Скидки и акции: 
      each discount in discounts
        p= discount.title
      
mixin lecturesBuy(lectures, type)
  - let len = lectures.length;
  .show-for-large
    +titleDateSelect()
  .lecture-list.show-more-container
    each lecture, index in lectures
      +lectureBuy(lecture, index)
    if (len > 4)
      - let pre = type === 'cycle' ? 'цикла' : 'курса';
      +containerX()
        +buttonShowMore(`показать все лекции ${pre}`)(class='lecture-buy-show-more')

mixin lectureDateBuy(lecture, events, i)
  .lecture-dates(class=`dates-cnt-${events.length}`)
    if (events.length > 0)
      +sliderFull(5, i)
        each item in events
          +lectureBuySlide(lecture, item)
    else
      .no-date
        p Нет доступных дат        
  
mixin lectureBuy(lecture, index)
  - let id = lecture.id;
  - let cls = '';
  if (index > 4)
    - cls = 'hidden';
    
  .lecture-item(class=cls)
    +containerFullX()
      +cell4Off1()

        input.check-lecture(type='checkbox', value=id, id=id, name='lecture', data-lecture-id=id, data-lecture-title=lecture.title)
        label(for=id).title
          //- span.hide-for-small-only
          |Лекция #{index + 1}.
          br
          |#{lecture.title}
      +cell(10)(class='large-offset-0 medium-offset-1 medium-14 small-offset-1 small-14')
        +lectureDateBuy(lecture, lecture.events, id)
        
mixin ruble()
  span.ruble ₽

mixin titleDateSelect()
    +containerFullX()
      +cellOffset(10, 5)
        .title-date-select Выберите подходящие даты

mixin availableForBuy(item)
  - let course = item.course ? item.course[0] : undefined;
  - let cycle = item.cycle ? item.cycle[0] : undefined;
  - let parent = course || cycle;
  
  if (!item.isAvailableForBuy)
    - let noTickets = false;
    - let end = true;
    .pos-relative
      .end
        .inner.vh-center
          +containerFullX()
            +cellOffset(4, 6)(class='medium-offset-5 medium-6 small-offset-1 small-14')
              .text-left
                .title
                  if (parent && parent.buyFull)
                    a(href=`/${parent.alias.alias}`)
                      |Данную лекцию можно купить только внутри #{course ? 'курса' : 'цикла'}: 
                      h3= parent.title
                  else if (end)
                    h3 Нет доступных дат
                    if (parent)
                      a(href=`/${parent.alias.alias}`)
                        |#{course ? 'Курс:' : 'Цикл'}: 
                        h3= parent.title
                  else if (noTickets)
                    h3 Билеты закончились
          
          if (!parent || (parent && !parent.buyFull))
            +buyOtherDateSubscription(true)(class='medium-offset-5 medium-6')
      block
  else
    block
