.promo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: #1a141b;
  padding-top: rem-calc(99);
  padding-bottom: rem-calc(38);

  h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Slab';
    font-size: rem-calc(75);
    font-weight: 700;
    line-height: 0.9;
    margin-bottom: rem-calc(21);
    @include breakpoint(small only) {
      font-size: 8vw;
      line-height: 1;
    }
    @include breakpoint(medium down) {
      // font-size: rem-calc(60);
      line-height: 1;
    }
  }
  p {
    margin: 0 auto;
    width: rem-calc(640);
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 0 0 34px rgba(0, 0, 0, 0.32);
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 500;
    font-size: rem-calc(22);
    position: relative;
    line-height: 1.35;
    @include breakpoint(small only) {
      width: auto;
      font-size: 3vw;
    }
  }
  .sub {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: rem-calc(975 174);
    padding: rem-calc(29 0);
    margin-bottom: rem-calc(62);
    @include breakpoint(small only) {
      background-size: cover;
    }
  }
  .button {
    background-color: #5acc4a;
    color: #000000;
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    font-weight: bold;
    padding: rem-calc(11 31 14);
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.35);
  }
}
// .promo {
//   position: relative;
//   .bg-main {
//     background: #1a141b;
//     height: rem-calc(600);
//     background-size: cover;
//   }
//   .bg-sub {
//     position: absolute;
//     top: rem-calc(5);
//     left: 53%;
//     width: rem-calc(869);
//   }
//   .content {
//     padding-top: rem-calc(50);
//     width: 100%;
//     h1 {
//       text-transform: uppercase;
//       color: #ffffff;
//       font-family: 'Roboto Slab';
//       font-size: rem-calc(75);
//       font-weight: 700;
//       line-height: 0.9;
//     }
//
//     p {
//       margin: 0 auto;
//       max-width: rem-calc(640);
//       text-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 0 0 34px rgba(0, 0, 0, 0.32);
//       text-transform: uppercase;
//       font-family: 'Roboto';
//       color: #ffffff;
//       font-weight: 500;
//       font-size: rem-calc(22);
//       position: relative;
//       line-height: 1.35;
//     }
//     .sub {
//       padding-top: rem-calc(41);
//       position: relative;
//     }
//   }
//   .button {
//     background-color: #5acc4a;
//     color: #000000;
//     font-family: 'Roboto Slab';
//     font-size: rem-calc(25);
//     font-weight: bold;
//     padding: rem-calc(11 31 14);
//     margin-top: rem-calc(90);
//     margin-bottom: rem-calc(7);
//     box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.35);
//   }
// }
